 
 
 <div class="login-estilo">
    <img src="assets/3251731.png" alt="LibroVirtual" class="LibroVirtual-image"> 
    <img src="assets/3251745.png" alt="CarpetaVirtual" class="CarpetaVirtual-image"> 

    <!-- Formulario 1: Registro -->
    <div id="form1" class="form-container">
        <h2 class="form-title">Ingresar</h2>
        <form id="register-form">
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" placeholder="Introduce tu nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="password1">Contraseña:</label>
                <input type="password" id="password1" placeholder="Introduce tu contraseña" required>
            </div>
            <button type="button" class="button-acceder" id="btn-register">Registrarse</button>
            <button type="button" class="button-acceder" id="btn-access">Acceder</button>
        </form>
    </div>

    <div id="form2" class="form-container" style="display: none;">
        <h2 class="form-title">¡Bienvenido al Registro de Usuarios!</h2>
        <form id="user-form">
            <div class="form-group">
                <label for="nombre-usuario">Nombre de usuario:</label>
                <input type="text" id="nombre-usuario" placeholder="Introduce tu nombre de usuario" required>
</div>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Introduce tu nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" placeholder="Introduce tu apellido" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" placeholder="Introduce tu contraseña" required>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo de usuario:</label>
                <select id="tipo" required>
                    <option value="">Seleccione...</option>
                    <option value="profesor">Profesor</option>
                    <option value="alumno">Alumno</option>
                </select>
            </div>
            <button type="submit" class="button-acceder">Acceder</button>
        </form>
    </div>
 </div>