 <div class="d-flex justify-content-center">
  <div class="mx-auto">
    <video *ngIf="video.url && video.url.endsWith('.mp4')" controls [src]="video.url" width="600" height="600" (ended)="onVideoEnded()">
      Tu navegador no soporta la etiqueta de video.
    </video>

    
    <iframe *ngIf="safeUrl && video.url.includes('youtube.com')" [src]="safeUrl" width="760" height="515" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>

<!-- Verificar si es un video de YouTube o local --><!--
<ng-container *ngIf="safeUrl; else localVideo">
 
  <iframe id="youtube-player" [src]="safeUrl" width="760" height="515" frameborder="0" allowfullscreen  ></iframe>
</ng-container>

 
<ng-template #localVideo>
  <video id="local-video-player" width="640" height="390" controls (ended)="handleLocalVideoEnded()">
    <source src="" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>
  
</ng-template>
-->