<div class="container">
    <div class="cards">
      <div class="card" *ngFor="let curso of datosCursos">
        <div class="card-body">
          <h5 class="card-title">{{ curso.titulo || 'Sin título' }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ curso.descripcion || 'Sin descripción' }}</h6>
          <p class="card-text">
            Clases: {{ curso.clases.length }}
          </p>
          <button class="btn btn-4" routerLink="/editar-curso/{{curso.id}}">Editar Curso</button> <!--ES EDITAR CURSO-->
          <button class="btn btn-4" routerLink="/editar-perfil">Alguna Funcion</button> 
        </div>
      </div>
    </div>
  </div>
  <br><br>
  