
<div class="container-fluid">
  <div class="d-flex">

      <div class="bg-light border-right vh-100" id="sidebar-wrapper" >
          <div class="sidebar-heading"  *ngIf="curso"><b>{{ curso.titulo }}</b></div>
          <div class="list-group list-group-flush scrollable-list">
              <div class="accordion" id="accordionExample" data-bs-spy="scroll" data-bs-target="#sidebar-wrapper" data-bs-offset="0" tabindex="0">
                
                  <div class="accordion-item" *ngFor="let clase of curso?.clases!; let i = index">
                      <h2 class="accordion-header" [id]="'heading' + (i + 1)">
                          <button (click)="selectVideo(clase.id!)" class="accordion-button" type="button" data-bs-toggle="collapse" 
                                  [attr.data-bs-target]="'#collapse' + (i + 1)" aria-expanded="false" 
                                  [attr.aria-controls]="'collapse' + (i + 1)" 
                                  [ngClass]="{'bg-primary text-white': videosVistos[clase.id!]}">
                              Clase {{ i + 1 }}  
                          </button>
                      </h2>
                      <div [id]="'collapse' + (i + 1)" class="accordion-collapse collapse" 
                           [attr.aria-labelledby]="'heading' + (i + 1)" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                              <strong>{{ clase.title }}</strong> <br>{{ clase.descripcion }}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

            
 