<div class="container-fluid">
<div class="info" style="background-color: aquamarine;">

    <div class="about" > 
        <h1>Cursos UTN</h1>

        <i class="fa-solid fa-location-dot"></i><h5>Av. Dorrego 281,<br> Mar del Plata, Provincia de Buenos Aires          </h5>
 
    </div>
    
    <div>
        <h1 style="padding-right:20px ;">Contacto</h1>
        <ul class="enlaces" style="display: flex; flex-direction: column; align-items: center;">
            <li class="li" style="display: flex; align-items: center; gap: 10px; padding-right: 25px;">    
            <a href="mailto:informes@mdp.utn.edu.ar" style="text-decoration: blue; color: inherit;">
                <i class="fa-solid fa-at" style="font-size: 30px;"></i> 
            </a>
  
            <a href="https://mdp.utn.edu.ar/">
                <img src="assets/UTN-favicon.png" alt="UTN icon" style="width: 30px; height: 30px;">
            </a>
       <!--     <a href="http://www.instagram.com/utnmardelplata">
                <i class="fa-brands fa-instagram" style="color: orange; font-size: 30px;"></i>
            </a>
           --> 
            <a href="https://www.linkedin.com/company/utnmardelplata">
            <i class="fa-brands fa-linkedin" style="font-size: 30px;"></i>    
            </a>
        </li>
        </ul>
    </div>
</div>
<div class="powered-by" style="display: flex; flex-direction: column; ">
    <p>Powered by <a href="https://portfolio-yo-programo.web.app/">Cursos Mdq</a></p>
</div>
</div>