<div class="container">
    <form (ngSubmit)="guardarCurso( )">
      <div class="mb-3">
        <label for="titulo" class="form-label">TITULO CURSO</label>
        <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="TITULO DE LA CLASE">
        <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="text-danger">
          Se requiere un título.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="descripcion" class="form-label">DESCRIPCION DEL CURSO</label>
        <textarea formControlName="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
          Se requiere una descripción.
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Crear</button>
    </form>
  </div>
  