<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
            <a class="navbar-brand" href="https://mdp.utn.edu.ar/">
      
      <img src="assets\UTN-iso-new.png" style="height: 50px;" alt="Logo"  class="d-inline-block align-text-top">
    </a>
    <h1 class="mx-auto">CursosOnline UTN</h1>
        </div>
   <!--     <div class="d-flex ms-auto"  style="margin-right: 1%;">
          <button class="btn btn-outline-dark">Register</button>
        </div>
        <div class="d-flex ms-auto" style="margin-right: 1%;">
          <button class="btn btn-outline-dark">Login</button>
        </div>
        <div class="d-flex ms-auto">
          <button class="btn btn-outline-dark" style="margin-right: 1%;">Logout</button>
        </div>
        -->
        </nav>
 
</header>
