<app-nav-profesor></app-nav-profesor>
<div class="container">
  <form [formGroup]="updateCurso" (ngSubmit)="guardarCurso()"> <!-- Usa formGroup y ngSubmit -->
    <div class="mb-3">
      <label for="titulo" class="form-label">TITULO CURSO</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="TITULO DE LA CLASE">
      <div *ngIf="updateCurso.get('titulo')?.invalid && (updateCurso.get('titulo')?.dirty || updateCurso.get('titulo')?.touched)" class="text-danger">
        Se requiere un título.
      </div>
    </div>
    
    <div class="mb-3">
      <label for="descripcion" class="form-label">DESCRIPCION DEL CURSO</label>
      <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
      <div *ngIf="updateCurso.get('descripcion')?.invalid && (updateCurso.get('descripcion')?.dirty || updateCurso.get('descripcion')?.touched)" class="text-danger">
        Se requiere una descripción.
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="!updateCurso.valid">Modificar</button>
  </form>
</div>
