.container {
    margin: 20px; /* Espaciado alrededor del contenedor */
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 o 4 por fila según el ancho */
    gap: 20px; /* Espacio entre tarjetas */
}

.card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-4 {
    background-color: #9be2d7; 
    font-weight: bold; 
    margin: 2%;
   
}
.btn-4:hover {
    background-color: #92e5d9;
    transform: scale(1.05);
}
 