 <div class="bod">
    <div class="container">
        <!-- Sección de texto -->
        <div class="left-section">
          <h1>CursosOnline UTN</h1>
        <p>CursosOnline te ayuda a preparte e insertarte en el mercado laboral moderno.</p>
        </div>
        
        <!-- Sección del formulario de login -->
        <div class="login-form">
          <form>
            <input type="text" placeholder="Nombre de usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar sesión</button>
          
          </form>
          <a href="#" class="register-button">Crear cuenta nueva</a>
        </div>
      </div></div>
 